/* @import url('../../keycloak/lib/zocial/zocial.css');*/

body {
    background-color: rgb(63,81,181);
    /*background-image: url('../img/bkgrnd.jpg');*/
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    color: #fff;
    font-family: sans-serif;
    text-shadow: 0px 0px 10px #000;
    margin: 0px;
}

a {
    color: #fff;
}

/* Change content to change the title of the page*/
div#kc-header::after {
    padding-top: 3px;
    content: 'FeedHenry Work Force Management';
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 15px;
}

div#kc-info {
}

/*title banner size and colour*/
div#kc-header {
    width:100%;
    background-color: rgb(40,53,147);
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-right: 2em;
    padding-left: 3em;
}

div#kc-content {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 95%;
    margin-left: -44%;
}

div#kc-form {

}
/* label change Username, Password text*/
div#kc-form label {
    color: rgba(255, 255, 255, 0.7) !important;
    display: block;
    font-size: 30px;
}
/**/
div#kc-form-login {
    text-align: center;
}

div#info-area {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 45px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: 99%;
}

div#info-area p {
    margin-right: 30px;
    display: inline;
    text-shadow: none;
    font-size: 20px;
}
/*fields*/
input[type=text], input[type=password] {
    color: #ddd;
    font-size: 30px;
    margin-bottom: 20px;
    background: none;
    border-width: 0 0 1px 0;
    padding: 12px;
    width: 95%;
}

input[type=text]:hover, input[type=password]:hover {
    background-color: rgba(3,70,114,0.4);
}
/*button*/
input[type=submit] {
    border: none;
    border-radius: 3px;
    background-color: rgb(40,53,147);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6);
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    margin-top: 3em;
    width: 98%;
}

input[type=submit]:hover {
    background-color: rgba(255,255,255,0.8);
}

div#kc-form-options div {
    display: inline-block;
    margin-right: 20px;
    font-size: 25px;
}

div#kc-form-options div label {
    font-size: 20px;
}

div#kc-feedback {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

div#kc-feedback-wrapper {
    padding: 1em;
}

div.feedback-success {
    background-color: rgba(155,155,255,0.1);
}

div.feedback-warning {
    background-color: rgba(255,175,0,0.1);
}

div.feedback-error {
    background-color: rgba(255,0,0,0.1);
}

div#kc-header-wrapper {
    display: none;
}

div#kc-registration {
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 1.8em;
    margin-bottom: 20px;
    margin-top: 2em;
}

div#social-login {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    float: right;
    width: 150px;
    padding: 20px 0 200px 40px;
}

div.social-login span {
    display: none;
}

div#kc-social-providers ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div#kc-social-providers ul li {
    margin-bottom: 20px;
}

div#kc-social-providers ul li span {
    display: inline;
    width: 100px;
}

a.zocial {
    border: none;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -ms-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    background: -o-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0.1)) !important;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6);
    width: 130px;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}


/* new */
*{
    box-sizing: border-box;
}
.card-pf{
    margin: 0px;
    background: none;
    border-bottom: none;
    box-shadow: none;
    border-top: none;
    position: fixed;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 5;
}
div#kc-header{
    display: none;
}

#kc-page-title{
    text-indent: -99999999999px;
    width: 240px;
    height: 64px;
    margin: auto;
    background: url('../img/logo.svg');
    background-size: contain;
    position: relative;
}
#kc-form-wrapper {
    background: #fff;
    width: 100%;
    max-width: 575px;
    margin: auto;
    padding-top: 100px;
    position: relative;
    padding: 145px 50px 50px;
    box-shadow: 0px 1.643070936203003px 6px 0px rgba(112, 144, 176, 0.15);
    margin-top: 30px;
}
#kc-form-login:before{
    content: 'Đăng nhập';
    display: block !important;
    position: absolute;
    left: 50px;
    color: rgba(33, 38, 51, 1);
    font-size: 30px;
    text-shadow: none;
    font-weight: bold;
    top: 50px;
}
#kc-form-login:after{
    content: 'Vui lòng dùng tài khoản bạn đã được cấp để đăng nhập!';
    display: block !important;
    position: absolute;
    top: 100px;
    left: 50px;
    text-shadow: none;
    color: #525B73;
    font-size: 14px;
    text-shadow: none;
}
.login-pf body{
    background: url('../img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
div#kc-content{
    position: static;
    margin-left: 0px;
    width: auto;
}
div#kc-form form label{
    color: #525B73 !important;
    font-size: 17px;
    text-shadow: none;
    font-weight: bold;
    text-indent: -9999999px;
    line-height: 1;
    margin-bottom: 10px;
}
div#kc-form form label[for="username"]::after{
    content: 'Tên đăng nhập';
    display: block;
    text-indent: 0px;
}
div#kc-form form label[for="password"]::after{
    content: 'Mật khẩu';
    display: block;
    text-indent: 0px;
}
.form-group input{
    height: 40px;
    width: 100%;
    padding: 2px 8px 2px 16px;
    border-radius: 4px;
    border: 1px solid rgba(226, 230, 242, 1);
    font-size: 14px;
    color: #212633;
    margin-bottom: 0px;
}
.form-group .pf-c-form-control:focus{
    border: 1px solid rgba(0, 159, 227, 1)
}
.form-group input[aria-invalid="true"]{
    border: 1px solid red;
    outline: none;
    box-shadow: none;
    background-repeat: no-repeat;
}
.form-group input#password[aria-invalid="true"]{
    background-position: right 42px center;
}
span.pf-m-error{
    color: red;
    text-shadow: none;
    font-size: 12px;
}
.form-group input:focus{
    outline: none;
}
.form-group{
    margin-bottom: 8px;
}
.form-group .pf-c-input-group .pf-m-control{
    border: none !important;
    box-shadow: none !important;
    margin-left: 0px;
    position: absolute;
    right: 0px;
    background: none;
    outline: none;
    z-index: 3;
    top: 2px

}
.form-group .pf-c-input-group .pf-m-control::after{
    display: none;
}
.form-group .pf-c-input-group{
    position: relative;
}
.form-group input:hover{
    background: none;
}
#kc-form-buttons input{
    height: 40px;
    border: none;
    box-shadow: none;
    margin-top: 20px;
    text-indent: -99999999px;
    background: none;
    position: relative;
    z-index: 999;
}
#kc-form-buttons{
    position: relative;
}
#kc-form-buttons input:hover{
    background: none;
}
.login-pf-settings{
    margin-bottom: 0px;
}
#kc-form-buttons:after{
    content: 'Đăng nhập';
    display: block;
    text-indent: 0px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    background: rgba(0, 159, 227, 1);
    text-shadow: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    bottom: 0px;
}